<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid" style="flex-direction:row">
            <a class="navbar-brand" href="" style="display:flex;">
                <div style="padding:3px 5px;">
                    <img src="logo.png" alt="BIS" style="width:auto; height:30px;"/>
                </div>
                <div>
                    <p style="margin:-5px 0px; font-size:13px;">С - словарь</p>
                    <p style="margin:-5px 0px; font-size:13px;">И - информационной</p>
                    <p style="margin:-5px 0px; font-size:13px;">Б - безопасности</p>
                </div>
            </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="fa fa-pull-left fa-2x fa-home" aria-hidden="true"></span> Главная Страница
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin">
                <span class="fa fa-pull-left fa-2x fa-user-circle-o " aria-hidden="true"></span> Админ-панель
            </NavLink>
        </div>
         <div class="nav-item px-3">
            <NavLink class="nav-link" href="about" Match="NavLinkMatch.All">
         <span class="fa fa-pull-left fa-2x fa-id-card" aria-hidden="true"></span> О нас
            </NavLink>
 </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
