@page "/about"
@using SIB.MainApp.Data
@inject ProductService productService

<PageTitle>Главная страница</PageTitle>

<h1>Главная страница</h1>

@if (product != null)
{
	<p>Loading.....</p>
}
else
{
	<RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true"
				PageSize="4" AllowSorting="true" Data="@product" TItem="Product" ColumnWidth="150px">
		<Columns>
			<RadzenGridColumn TItem="Product" Property="ProductID" Title="ProductID"></RadzenGridColumn>
			<RadzenGridColumn TItem="Product" Property="ProductName" Title="ProductName"></RadzenGridColumn>
			<RadzenGridColumn TItem="Product" Property="PurchaseDate" Title="PurchaseDate">
				<Template Context="data">
					@String.Format("{0:d}", data.PurchaseDate)
				</Template>
			</RadzenGridColumn>
			<RadzenGridColumn TItem="Product" Property="Price" Title="Price"></RadzenGridColumn>
		</Columns>
	</RadzenGrid>
}

@code {
	IEnumerable<Product> product;

	public About(IEnumerable<Product> product)
	{
		this.product = product;
	}

	protected override async Task OnInitializedAsync()
	{
		product = await Task.Run(() => productService.ProductList());
	}
}
