@page "/"

<PageTitle>Главная страница</PageTitle>

<div>
    <RadzenBreadCrumb>
        <NavLink href="">Главная страница</NavLink>
    </RadzenBreadCrumb>
</div>

<div>
    <h1>Термины</h1>
</div>

<div>

</div>

@code {
    
}