@page "/"
@using SIB.MainApp.Data
@inject FilterService FilterService

<h1>Главная страница</h1>

@if (filter == null)
{
	<p>Loading.....</p>
}
else
{
	<RadzenGrid AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" AllowPaging="true"
				PageSize="4" AllowSorting="true" Data="@filter" TItem="Filter" ColumnWidth="150px">
		<Columns>
			<RadzenGridColumn TItem="Filter" Property="FilterID" Title="ID" Width="30px"></RadzenGridColumn>
			<RadzenGridColumn TItem="Filter" Property="TerminName" Title="Название">
				<Template>
					<a href="/${Filter.TerminName}" target="_blank">${Filter.TerminName}</a>
				</Template>
			</RadzenGridColumn>
			<RadzenGridColumn TItem="Filter" Property="TerminNameT" Title="Перевод"></RadzenGridColumn>
			<RadzenGridColumn TItem="Filter" Property="CreateDate" Title="Дата создания">
				<Template Context="data">
					@String.Format("{0:d}", data.CreateDate)
				</Template>
			</RadzenGridColumn>
		</Columns>
	</RadzenGrid>
}

@code {
	IEnumerable<Filter>? filter;

	protected override async Task OnInitializedAsync()
	{
		filter = await Task.Run(() => FilterService.FilterList());
	}

}