@page "/"

<PageTitle>Главная страница</PageTitle>

<div>
    <RadzenBreadCrumb>
        <RadzenBreadCrumbItem Path="/" Text="Главная"></RadzenBreadCrumbItem>
    </RadzenBreadCrumb>
</div>

<div>

</div>

@code {
    
}