@page "/ResetPassword"


<RadzenRow Gap="2rem" JustifyContent="JustifyContent.Center">
    <RadzenTemplateForm TItem="Model" Data=@model>
        <RadzenStack Class="rz-p-sm-12">

            <h3 style="text-align:center">Восстановление пароля</h3>

            <RadzenFormField Text="E-mail" Variant="Variant.Outlined">
                <ChildContent>
                    <RadzenTextBox @bind-Value="@model.Email" Name="E-mail" />
                </ChildContent>
                <Helper>
                    <RadzenRequiredValidator Component="Email" Text="Необходима почта" />
                </Helper>
            </RadzenFormField>

            <RadzenButton ButtonType="ButtonType.Submit" Text="Подтвердить"></RadzenButton>
        </RadzenStack>
    </RadzenTemplateForm>
</RadzenRow>

@code {
    class Model
    {
        public string Email { get; set; } = "";
    }

    Model model = new Model();
}